<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Layouts</title>
    
    <style>

        html {box-sizing: border-box;}
        *, *:before, *:after {box-sizing: inherit;}
        .container{width:600px;height:350px; overflow:auto; display:block; float:left;border:solid deeppink 1px; background:brown;margin:20px;}
        header{ background:red;color:#fff;border:solid #fff 2px;}
        footer{ background:indianred;color:#fff;border:solid #fff 2px;}
        main{background:blue;border:solid #fff 2px;}
        article{ background:lime;border:solid black 1px;}
        .first{background:orange;}
        .second{background:green;}
        .third{background:lightcoral;}
        .fourth{background:yellow;}
        .fifth{background:lightblue;}
        .sixth{background:olive;}
        header,footer,.first,.second,.third,.fourth,.fifth,.sixth{padding:5px;}

    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container" id="container1">
    <header>Header 1</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container2">
    <header>Header 2</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container3">
    <header>Header 3</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container4">
    <header>Header 4</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container5">
    <header>Header 5</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container6">
    <header>Header 6</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container7">
    <header>Header 7</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container8">
    <header>Header 8</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container9">
    <header>Header 9</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container10">
    <header>Header 10</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container11">
    <header>Header 11</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container12">
    <header>Header 12</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container13">
    <header>Header 13</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container14">
    <header>Header 14</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container15">
    <header>Header 15</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container16">
    <header>Header 16</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container17">
    <header>Header 17</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container18">
    <header>Header 18</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container19">
    <header>Header 19</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

<div class="container" id="container20">
    <header>Header 20</header>
    <main>
        <article class="first">first first first first first first</article>
        <article class="second">second second second second second</article>
        <article class="third">third third third third third  </article>
        <article class="fourth"> fourth fourth fourth fourth fourth fourth </article>
        <article class="fifth"> fifth fifth fifth fifth fifth fifth fifth </article>
        <article class="sixth"> sixth sixth sixth sixth sixth sixth sixth sixth </article>
    </main>
    <footer>Footer</footer>
</div>

</body>
</html>